html {
    background-color: #1A1A1D;
    color: white;
    font-family: 'Rubik', sans-serif;
}

body {
    display: contents;
}

body main div {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
}

ol {
    display: inline-block;
}

form span {
    display: block;
    font-weight: 100;
    color: #962d2d
    ;
}

form label {
    display: block;
}